<script type="text/javascript">
  var quotes = [
    {
      text: "If you can't solve a problem, it's because you are playing by the rules.",
      author: "Paul Arden"
    }
    ,{
      text: "It's Not How Good You Are, It's How Good You Want To Be",
      author: "Paul Arden"
    }
    ,{
      text: "When things go wrong it's tempting to shift the blame. Don't.",
      author: "Paul Arden"
    }
  ];

  function writeRandomQuote() {
    var randomIndex = Math.floor(Math.random() * quotes.length);
    var quote = quotes[randomIndex];
    document.write('"');
    document.write(quote.text);
    document.write('"');
    document.write('<br />');
    document.write('&mdash; ');
    document.write('<em>');
    document.write(quote.author);
    document.write('</em>');
  }
  
</script>

  <div class="footer">
    <div class="quote">
      <p><script type="text/javascript">writeRandomQuote()</script>
{% comment %}
        "If you can't solve a problem, it's because you are playing by the rules."<br />
        – Paul Arden
{% endcomment %}
      </p>
    </div>

    <div class="contact">
      <p>
        <a href="http://www.google.com/search?q=%28steshaw+OR+%22Steven+Shaw%22%29+Java+OR+Scala+OR+Ruby+OR+Python+OR+Perl+OR+Shell+OR+%22C+Programming+Language%22+OR+C%2B%2B+OR+%22D+Programming+Language%22+OR+%22Scheme+Programming+Language%22+OR+%22Lisp+Programming+Language%22+OR+%22Common+Lisp%22+OR+%22Dylan+Programming+Language%22+OR+Erlang+OR+Forth+OR+%22J+Programming+Language%22+OR+%22K+Programming+Language%22+OR+Caml+OR+OCaml+OR+%22Objective+Caml%22+OR+%22Oz+Programming+Language%22+OR+%22Mozart+Oz%22+OR+Pascal+OR+%22Component+Pascal%22+OR+Oberon+OR+Modula-2+OR+Modula-3+OR+compilers+OR+parsers+OR+lexers+OR+%22Operating+Systems%22+OR+%22Distributed+Systems%22" title="google me" rel="alternate" type="application/rss+xml">
          <img width="100" height="100" src="/images/steve-in-barcelona.jpeg" alt="" align="middle"/>
        </a>
      </p>
    
    </div>
    <div class="contact">
      <strong>web:</strong><a href="http://steshaw.org/">steshaw.org</a><br />
      <strong>email:</strong><a href="mailto:steshaw@gmail.com">steshaw@gmail.com</a><br />
      <strong>work:</strong><a href="http://codefu.com.au/">code<em>fu</em>.com.au</a><br />
      <strong>code:</strong><a href="http://github.com/steshaw/">github.com/steshaw</a><br />
      <strong>tweets:</strong><a href="http://twitter.com/steshaw/">twitter.com/steshaw</a><br />
      <strong>bookmarks:</strong><a href="http://www.delicious.com/steshaw">delicious.com/steshaw</a><br />
      <strong>linkedin:</strong><a href="http://linkedin.com/in/steshaw/">linkedin.com/in/steshaw</a><br />
    </div>

    <div class="promote">
<a href="http://www.jetbrains.com/idea/" style="position: relative;display:block; width:88px; height:31px; border:0; margin:0;padding:0;text-decoration:none;text-indent:0;"><span style="margin: 0;padding: 0;position: absolute;top: -1px;left: 4px;font-size: 10px;cursor:pointer;  background-image:none;border:0;color: #acc4f9; font-family: trebuchet ms,arial,sans-serif;font-weight: normal;text-align:left;">Proud to use</span><img src="http://www.jetbrains.com/idea/opensource/img/all/banners/idea88x31_blue.gif" alt="The best Java IDE" border="0"/></a>
    </div>

{% comment %}
    <div class="contact">
    <h2>Upcoming Talks</h2>
    <ul>
      <li>
        <a href="http://www.scandevconf.se/">
          <span class="date">17.03.10: </span>SDC 2010 - Gothenburg, Sweden
        </a>
      </li>
      <li>
        <a href="http://days2010.scala-lang.org/">
          <span class="date">16.04.10: </span>Scala Days 2010 - Lausanne, Switzerland
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/Geek%20Nights">
          <span class="date">22.04.10: </span>JAOO Geek Nights - Aarhus, Denmark
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/Geek%20Nights">
          <span class="date">23.04.10: </span>JAOO Geek Nights - Copenhagen, Denmark
        </a>
      </li>
      <li>
        <a href="http://it-republik.de/konferenzen/jax2010/speaker/">
          <span class="date">06.05.10: </span>JAX 2010 - Mainz, Germany
        </a>
      </li>
      <li>
        <a href="http://2010.geecon.org/speakerdetails/5">
          <span class="date">14.05.10: </span>GeeCon 2010 - Poznan, Poland
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/speaker/Jonas+Bonér">
          <span class="date">04.10.10: </span>JAOO 2010 - Aarhus, Denmark
        </a>
      </li>
    </ul>
    </div>

  <div class="rss">
    <a href="http://steshaw.wordpress.com/feed">
      <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
    </a>
  </div>
{% endcomment %}
 </div>

<div class="notice">
  &copy; 1998-2010 Steven Shaw
</div>
