<script type='text/javascript'>
</script>

  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://www.google.com/search?hl=en&as_q=&as_epq=Steven+Shaw&as_oq=Scala+Java+Ruby&as_eq=&num=10&lr=&as_filetype=&ft=i&as_sitesearch=&as_qdr=all&as_rights=&as_occt=any&cr=&as_nlo=&as_nhi=&safe=images" title="google me" rel="alternate" type="application/rss+xml">
          <img width="97" height="111" src="/images/steve-with-beard.jpeg" alt="" align="middle"/>
        </a>
      </p>
    
    </div>
    <div class="contact">
<!--
"If you can't solve a problem, it's because you are playing by the rules." 
      <br />
      - Paul Arden
      <br />
-->
      <strong>Subscribe: </strong>
      <a href="http://steshaw.wordpress.com/feed" rel="alternate" type="application/rss+xml">RSS Feed</a>
      <br />
      <strong>Email: </strong> <a href="mailto:steshaw@apache.org">steshaw@apache.org</a>
      <br />
      <strong>Work: </strong> <a href="http://guvera.com/">Guvera</a>
<!--
      <br />
      <strong>Product: </strong> <a href="http://akkasource.org/">akkasource.org</a>
-->
      <br />
      <strong>Hacking: </strong><a href="http://github.com/steshaw/">github.com/steshaw</a>
      <br />
      <strong>Tweeting: </strong> <a href="http://twitter.com/steshaw/">twitter.com/steshaw</a>
      <br />
      <strong>LinkedIn: </strong> <a href="http://linkedin.com/in/steshaw/">linkedin.com/in/steshaw</a>
      <br />
    </div>

<!--
    <div class="contact">
    <h2>Upcoming Talks</h2>
    <ul>
      <li>
        <a href="http://www.scandevconf.se/">
          <span class="date">17.03.10: </span>SDC 2010 - Gothenburg, Sweden
        </a>
      </li>
      <li>
        <a href="http://days2010.scala-lang.org/">
          <span class="date">16.04.10: </span>Scala Days 2010 - Lausanne, Switzerland
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/Geek%20Nights">
          <span class="date">22.04.10: </span>JAOO Geek Nights - Aarhus, Denmark
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/Geek%20Nights">
          <span class="date">23.04.10: </span>JAOO Geek Nights - Copenhagen, Denmark
        </a>
      </li>
      <li>
        <a href="http://it-republik.de/konferenzen/jax2010/speaker/">
          <span class="date">06.05.10: </span>JAX 2010 - Mainz, Germany
        </a>
      </li>
      <li>
        <a href="http://2010.geecon.org/speakerdetails/5">
          <span class="date">14.05.10: </span>GeeCon 2010 - Poznan, Poland
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/speaker/Jonas+Bonér">
          <span class="date">04.10.10: </span>JAOO 2010 - Aarhus, Denmark
        </a>
      </li>
    </ul>
    </div>
-->


<!--      -->
    <div class="rss">
      <a href="http://steshaw.wordpress.com/feed">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
<!-- -->  
   </div>

  <div class="twitter">
    <div id="twitter_div">
      &copy; 1998-2010 Steven Shaw
    </div>
  </div>
