<div id="gr_challenge" style="border: 2px solid #EBE8D5; border-radius: 10px;
-moz-border-radius:10px; padding: 0px 7px 0px 7px; width:230px">
 <div id="gr_challenge_progress_body" style="font-size: 12px;
font-family: georgia,serif;line-height: 18px">

   <h3 style="margin: 4px 0 10px; font-weight: normal">
     <a href="http://www.goodreads.com/challenges/2-2011-reading-challenge"
style="text-decoration: none;
font-family:georgia,serif;font-style:italic; font-size: 1.1em">2011
Reading Challenge</a>
   </h3>

     <div>
       <a href="http://www.goodreads.com/user/show/4297192-steven-shaw"
only_path="false">Steven Shaw</a> has

          read 0 books toward his goal of 50 books.

     </div>
     <div style="width: 130px; margin: 4px 5px 5px 0; float: left;
border: 1px solid #382110; height: 8px; overflow: hidden;
background-color: #FFF">
       <div style="width: 0%; background-color: #D7D2C4; float:
left"><span style="visibility:hidden">hide</span></div>
     </div>
     <div style="font-family: arial, verdana, helvetica,
sans-serif;font-size:90%">
       <a href="http://www.goodreads.com/user_challenges/27156">0 of
50 (0%)</a>
     </div>
     <div style="text-align: right;">
       <a href="http://www.goodreads.com/user_challenges/27156"
style="text-decoration: none; font-size: 10px;">view books</a>
     </div>


 </div>

   <script src="http://www.goodreads.com/user_challenges/widget/4297192-steven-shaw?v=2"
type="text/javascript"></script>

</div>
