<a href="http://github.com/steshaw"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub" /></a>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">
  _uacct = "UA-252619-1";
  urchinTracker();
</script>

{% comment %}
<link type="text/css" rel="stylesheet" href="/css/syntaxhighlighter_2/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="/css/syntaxhighlighter_2/styles/shThemeDefault.css"/>
<script type="text/javascript" src="/css/syntaxhighlighter_2/scripts/shCore.js"></script>
<script type="text/javascript" src="/css/syntaxhighlighter_2/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="/css/syntaxhighlighter_2/scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="/css/syntaxhighlighter_2/scripts/shBrushScala.js"></script>
<script type="text/javascript" src="/css/syntaxhighlighter_2/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="/css/syntaxhighlighter_2/scripts/shBrushBash.js"></script>
<script type="text/javascript" src="/css/syntaxhighlighter_2/scripts/shBrushErlang.js"></script>
<script type="text/javascript" src="/css/syntaxhighlighter_2/scripts/shBrushPlain.js"></script>
<script type="text/javascript">
  dp.SyntaxHighlighter.ClipboardSwf = '/css/syntaxhighlighter_2/scripts/clipboard.swf';
  dp.SyntaxHighlighter.HighlightAll('code');
</script>
{% endcomment %}

<link type="text/css" rel="stylesheet" href="/css/dp.SyntaxHighlighter/Styles/SyntaxHighlighter.css"/>
<script type="text/javascript" src="/css/dp.SyntaxHighlighter/Scripts/shCore.js"></script>
{% comment %}
<!-- shBrushBash.js does not exists -->
<script type="text/javascript" src="/css/dp.SyntaxHighlighter/Scripts/shBrushBash.js"></script>
{% endcomment %}
<script type="text/javascript" src="/css/dp.SyntaxHighlighter/Scripts/shBrushJava.js"></script>
<script type="text/javascript" src="/css/dp.SyntaxHighlighter/Scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="/css/dp.SyntaxHighlighter/Scripts/shBrushScala.js"></script>
<script type="text/javascript" src="/css/dp.SyntaxHighlighter/Scripts/shBrushXml.js"></script>
<script type="text/javascript">
  dp.SyntaxHighlighter.ClipboardSwf = '/css/dp.SyntaxHighlighter/Scripts/clipboard.swf';
  dp.SyntaxHighlighter.HighlightAll('code');
</script>

<script type="text/javascript" src="/js/disqus.js"></script>
