
{% comment %}
    <div class="contact">
    <h2>Upcoming Talks</h2>
    <ul>
      <li>
        <a href="http://www.scandevconf.se/">
          <span class="date">17.03.10: </span>SDC 2010 - Gothenburg, Sweden
        </a>
      </li>
      <li>
        <a href="http://days2010.scala-lang.org/">
          <span class="date">16.04.10: </span>Scala Days 2010 - Lausanne, Switzerland
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/Geek%20Nights">
          <span class="date">22.04.10: </span>JAOO Geek Nights - Aarhus, Denmark
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/Geek%20Nights">
          <span class="date">23.04.10: </span>JAOO Geek Nights - Copenhagen, Denmark
        </a>
      </li>
      <li>
        <a href="http://it-republik.de/konferenzen/jax2010/speaker/">
          <span class="date">06.05.10: </span>JAX 2010 - Mainz, Germany
        </a>
      </li>
      <li>
        <a href="http://2010.geecon.org/speakerdetails/5">
          <span class="date">14.05.10: </span>GeeCon 2010 - Poznan, Poland
        </a>
      </li>
      <li>
        <a href="http://jaoo.dk/aarhus-2010/speaker/Jonas+Bonér">
          <span class="date">04.10.10: </span>JAOO 2010 - Aarhus, Denmark
        </a>
      </li>
    </ul>
    </div>

{% endcomment %}
