<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
   <title>{{ page.title }}</title>
   <meta name="author" content="Steven Shaw"/>
   <link rel="alternate" type="application/rss+xml" title="Steven Shaw RSS Feed" href="http://steshaw.wordpress.com/feed/"/>
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection"/>
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>

<body>

<div style="position: absolute; top: 33%; left: 0; border: 0; z-index: -100;">
  {% include goodreads-challenge-widget.html %}
</div>
 

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-15461592-1");
    pageTracker._trackPageview();
  } catch(err) {
  }
</script>

<div>
  <div style="float: right;">
    {% include goodreads-bookshelf-widget.html %}
  </div>

<div class="site">


<div>
  <div>

    <div style="float: right">
      {% include top_menu.html %}
    </div>

    <div class="title">
      <a href="/">Steven Shaw</a>
      {% comment %}
      <a class="extra" href="/">home</a>
      {% endcomment %}

      {% comment %}
      <div class="widget-search widget">
        <h3 class="widget-header">Search</h3>
        <div class="widget-content">
          <form action="http://www.google.com/cse" id="cse-search-box">
            <div>
              <input type="hidden" name="cx" value="017431474989948756214:5tfhyaai8lg" />
              <input type="hidden" name="ie" value="UTF-8" />
              <input type="text" name="q" size="31" />
              <input type="submit" name="sa" value="Search" />
            </div>
          </form>
          <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
        </div>
      </div>
      {% endcomment %}
    </div>

  </div>

  <div>
    <div style="clear: left;"></div>

    {{ content }}
    {% include footer.html %}
  </div>
</div>

</div>
</div>

{% include scripts.html %}

</body>
</html>
